

/* ---- sass is complied to css-- */ 
/* variables of sass */
/* caniuse.com/#search=variables css variabes(custom properties)*/

/* dollar sign to declare a variable*/


/* $mycolor: #005DFF; */
/* background-color: $mycolor; */
/* background-color:map-get($colors,primary); */
/* deal wth multiple colors creating an color object */
/* no $ needed inside () ,take references of js objects */

/* passing arguments inside map-get*/
/* a very JS way to write styling sheets */

 
$colors:(
    primary:#bb6bbf, 
    secondary:rgb(233, 163, 0), 
    accent1:#fff6bb,
    accent2:#005fff,
    primary-light:lighten(#005fff,30%)
);

$paddings:(
    cool:15pt,  
    cooler:30pt
);

$border:(
    nice:15pt,
    notbad:23pt
);



/*function*/

@function color($color-name){
    @return map-get($colors,$color-name)
}

@function padding($myPadding){
    @return map-get($paddings,$myPadding)
} 

 /* mixin is for media query,simplify coding*/


$desktop:840px;

 @mixin desktop{ 
     @media(min-width:#{$desktop}){
         @content;}

     }






body,html{
height:100%;

}



body {

font-family:"Helvetica";
margin:0;



    #bg{
        clip-path: polygon(100% 0, 100% 68%, 70% 100%, 0 100%, 0 0);
        /*background-color:map-get($colors,accent2);*/
        background-color:color(accent2);
        width:100%;
        height:100%;
        position:absolute;
        z-index:-1; 

        @include desktop{
            clip-path: polygon(0 0, 100% 0, 62% 100%, 0% 100%);
        }

    } /*#bg is an nesting element*/ 

        header a{
            color:#fff;
            font-size: 2em;
            font-weight: 600;
            text-decoration:none;
            padding:padding(cool);
            display: block;
            text-transform:uppercase;
        } 

            main{
                  
                @include desktop{
                 display:grid;
                 grid-template-columns: 50% auto;
                 grid-template-areas: "Primary card";

                } 

                section#card{
                background:#fff;
                padding:padding(cooler);
                margin:1em auto;
                border-radius:7px;
                box-shadow:0 3px 3px 0 rgba(#333,0.5);
                width:80%; 
                z-index:1;

                @include desktop{
                    grid-area:card;
                    height:fit-content;
                    align-self:center;
                    margin:1em;

                }


                    ul{
                        list-style-type:none;
                        margin:0;padding:0;

                        li { margin-bottom:10px;
                            
                            span{
                                position:absolute;
                                width:30px;
                                height:30px;
                                background-color: color(primary-light);
                                border-radius:50%;
                                margin-right:10px;
                                z-index: 9999;
                            } 
                            strong{ 
                                display:inline-block;
                                margin-left:max(40px);
                                margin-top:10px;
                                color:#333
                                
                            }

                        }
                        
                    } 
                


                } 



                section#primary{

                    color:#fff;
                    padding:padding(cool);
                    text-align:center;
            
                        @include desktop{
                            grid-area:Primary;
                            text-align:left;
                            margin: 4em 0 0 4em;
                            }
            
                    h1{ 
            
                        font-size:2em;
                        margin-top:10px;
                        text-transform:uppercase; 
                        
                        @include desktop{
                            width:30%;
                            font-size:4em;
                            line-height:.9em;
            
            
                        }
            
                    }
                    P{
            
                        font-size:1.3em;
                    } 
                        a{
                            font-size:1.3em;
                            border:border(nice);
                            text-decoration: none;
                            text-transform: uppercase;
                            width:80%; 
                            color:color(secondary);
                            font-weight:600; 
                            background-color:#fff6bb;
                            display:block;
                            border-radius: 12px;
                            text-align:center;
                            margin:50px auto 0 auto;
                            padding:padding(cool); 

                            @include desktop{
                                display: inline-block;
                                padding:padding(cool) padding(cool)*4;
                                

                            }

                        }
            
            
                }


            } 




}
