

/* ---- sass is complied to css-- */ 
/* variables of sass */
/* caniuse.com/#search=variables css variabes(custom properties)*/

/* dollar sign to declare a variable*/


/* $mycolor: #005DFF; */
/* background-color: $mycolor; */
/* background-color:map-get($colors,primary); */
/* deal wth multiple colors creating an color object */
/* no $ needed inside () ,take references of js objects */

/* passing arguments inside map-get*/
/* a very JS way to write sass */

 
$colors:(
    primary:#bb6bbf, 
    accent1:#fff6bb,
    accent2:#005DFF,
    primary-light:lighten(#005DFF,40%)

);

$paddings:(

    cool:15pt,  
    cooler:30pt
);

/*function*/

@function color($color-name){
    @return map-get($colors,$color-name)
}



body,html{
height:100%;

}

@function padding($myPadding){
    @return map-get($paddings,$myPadding)
}

body {

font-family:"Helvetica";
margin:0;



  #bg{
    clip-path: polygon(100% 0, 100% 68%, 70% 100%, 0 100%, 0 0);
    /*background-color:map-get($colors,accent2);*/
    background-color:color(accent2);
    width:100%;
    height:100%;
    position:absolute;
    z-index:-1;
} /*#bg is an nesting element*/ 

header a{
    color:#fff;
    text-decoration:none;
    padding:padding(cool);
    display: block;
    text-decoration:uppercase;
} 

main{

    section#card{
    background:#fff;
    padding:padding(cooler);
    margin:1em auto;
    border-radius:0 10px 30px rgba(0,0,0,.2);
    width:80%; 


        ul{
            list-style-type:none;
            margin:0;padding:0;
            span{
                position:absolute;
                content:'';
                width:30px;
                height:30px;
                color: color(primary-light);
            }
        }


    }
}


}
